<link rel="stylesheet" type="text/css" href="res/css/footer.css">
<div class="footer" >
 <div class="container" style = "padding:30px 0px">
   <div class="row" style="margin-right: 0px;">
    <div class=" col-md-3 col-xs-12" style="text-align:center">
     
      <h4>About Library</h4>
      <ul class="list-unstyled">
             <li><a href="#"><span>  Build a Library for the Future </span></a></li>
             <li><a href="#"><span>  Giving to the Library </span></a></li>
             <li><a href="#"><span>  Jobs in the Library </span></a></li>
             <li><a href="#"><span>  Library Hours </span></a></li>
            
      </ul>
    </div>

    <div class="clearfix visible-xs"></div>

     <div class="col-md-3 col-xs-12" style="text-align:center">
      
       <h4>Library Collections</h4>
        <ul class="list-unstyled">
             <!-- <li><a ui-sref="faq"><span>  Home </span> </a></li> -->
            <!--  <li><a ui-sref="terms"><span>  About Us </span></a></li> -->
             <!-- <li><a ui-sref="privacy"><span>  Sign up </span></a></li>
             <li><a ui-sref="privacy"><span>  Sign IN </span></a></li> -->
             <li><a href="#"><span>  New Arrivals </span></a></li>
             <li><a href="#"><span>  New Books </span></a></li>
             <li><a href="#"><span>  Stack Guide </span></a></li>
             <li><a href="#"><span>  WakeSpace Scholarship </span></a></li>
           </ul>
     </div>

     <div class="clearfix visible-xs"></div>

     <div class="col-md-3 col-xs-12" style="text-align:center"">
      
       <h4>Services</h4>
       <ul class="list-unstyled">
              <li><a href="#"><span> Ask a Librarian </span></a></li>
             <li><a href="#"><span>  Research Guides </span></a></li>
             <li><a href="#"><span>  Subject Specialists </span></a></li>
             <li><a href="#"><span>  Zotero Research Assistant </span></a></li>
            
           </ul>
     </div>

     <div class="clearfix visible-xs"></div>

     

    <div class="col-md-3 col-xs-12" style="text-align:center">

      <h4>Research Help</h4>
      <ul class="list-unstyled">
              <li><a href="#"><span> Checkouts & Renewals </span></a></li>
             <li><a href="#"><span>  Course Reserves </span></a></li>
             <li><a href="#"><span>  Printing & Copying </span></a></li>
             <li><a href="#"><span>  Technology Equipment </span></a></li>

      </ul>
   
    </div>
    

  </div>

  

  </div>
  <div class="sec-footer">
       <div style="display:flex; justify-content:center;align-items:center; flex-direction:column">
           <img style="height:auto;padding:0 20px;" src="res/img/footer-logo-final.png" >
           <br>

          
            <div class = "col-md-6" style="font-size: 17px; "> 
              USS Library Sector 16-C, Dwarka, New Delhi
            </div>
            <br>

            <div class = "col-md-6 " style="font-size: 17px;">
              <a href="http://www.ipu.ac.in" style = "color: inherit;">www.ipu.ac.in</a>
            </div>
                     
           
     </div>
  </div>
  <div style="text-align:center;background-color:#252525; height:60px;padding:20px;">
  <div class="sec-content" style="display: inline">
        © 2016 GURU GOBIND SINGH INDRAPRASTHA UNIVERSITY. All rights reserved.
      </div> 
    </div>
</div>