<link rel="stylesheet" type="text/css" href="res/css/header.css">
<nav class = "navbar navbar-default navbar-fixed-top" style = "background-color:#0c6d97">
    <div class="container-fluid" id = "navFluid" style = "height:65px">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar" style="color: white;"></span>
          <span class="icon-bar" style="color: white;"></span>
          <span class="icon-bar" style="color: white;"></span> 
        </button>
        <a class="navbar-brand" href="home" style = "background-color:#0c6d97"><img src="res/img/150by61.png"  class = "logoHeader"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" style = "background-color:#0c6d97">
        <!-- <ul class="nav navbar-nav">
          <li><a href="#">Event</a></li>
          <li><a href="#">Sponsors</a></li> 
          <li><a href="#">Help</a></li> 
        </ul> -->
        <ul class="nav navbar-nav navbar-right links" style = "padding-top:10px">
        <li><a href="/signin" style="color:white"> Sign In  </a></li>
        <li><a href="/join" style="color:white">  Join </a></li>
        <li><a href="home" style="color:white"> Feedback  </a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width:70px; padding:22px 27px;"><span class="glyphicon glyphicon-option-horizontal" style="color:white; margin-top:-5px"></span></a>
          <ul style="text-align:left;" class="dropdown-menu">                 
            <li><a href="#"> Link 1 </a></li>
            <li><a href="#"> Link 2 </a></li>  
            <li><a href="#"> Link 3 </a></li>    
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>