<link rel="stylesheet" type="text/css" href="res/css/index.css">

<div class="searchWrap" style = " display:flex; flex-direction: column; justify-content:space-between;align-items:center; ">
	<h1 style = "padding-bottom:20px; font-weight:600; color:#0c6d97;; margin-top:-75px; font-size:55px; text-shadow: 1px 1px 2px white;">Library At Your Doorstep</h1>
	<div class = "container col-md-7 search" style = "background-color:white; height:50px;padding:0px; margin-bottom:-15px; margin-top:20px;opacity:0.9"> 
		<div class = "wrapper" style = "display:flex;border: 1px solid white; border-radius:2px; height:50px;" >

			<input type="url" class="form-control" id="search" placeholder="Search..." style = "border-style:none; outline:none; box-shadow:none; height:50px;" >
			<a href = "#">
				<div style="border-left:1px solid grey; margin-right:20px; height:50px;">
					<i class="fa fa-search" aria-hidden="true" style = "font-size:30px; padding: 10px 0px; color:grey; margin-left:20px; height:50px;">

					</i>
				</div>
			</a>
		</div>
	</div>
</div>



<div class = "container-fluid" style = "background-color: #1f7972;color:white">
	<div class="row" style = "text-align:center; margin-top:50px; align-items:center">
		<!-- TODO
		<div class = "col-md-4" style = "border-right:1px solid white"> -->
		<div class = "col-md-4" >
		<i class="fa fa-clock-o" aria-hidden="true" style = "font-size: 55px; "></i>
		<h2 style = "margin-top:5px"> Today's opening hour</h2>
		<h3 style = " font-size:30px"><b>09:00 am - 5:00 pm</b></h3>
		<h4 style = " font-size:20px; margin-top: 5px">Monday - Saturday</h4>
		<p class = "help-block" style="color:white">Sunday Closed</p>
		</div>

		<div class = "col-md-4" style = "border-right:1px solid white; border-left:1px solid white">
		<i class="fa fa-calendar" aria-hidden="true" style = "font-size: 55px; "></i>
		<h2 style = "margin-top:5px; margin-bottom:30px"> Whats On</h2>
		
		<div class = "whatsonCont" >
		<div style = "display:flex;flex-direction:column; width: 55px;     background: #0c6d97;">
		<span style="font-size:38px;line-height:30px;padding-top:5px"><b>8</b></span>
		<span style="font-size:21px">Aug</span>
		</div>
		<div style = "padding:0px 5px; top:50%">
		<span class = "pull-left" style="text-align:left"><a href="#" style = "color:inherit"> The University Library through the ages </a></span>
		<p class = "help-block " style="color:white; text-align:left"> 10:30 am </p>
		</div>
		</div>

		<br/>
		
		<div class = "whatsonCont" >
		<div style = "display:flex;flex-direction:column; width: 55px;     background: #0c6d97;">
		<span style="font-size:38px;line-height:30px;padding-top:5px"><b>9</b></span>
		<span style="font-size:21px">Aug</span>
		</div>
		<div style = "padding:0px 5px; top:50%">
		<span class = "pull-left" style="text-align:left"><a href="#" style = "color:inherit"> How Big is your Brain? </a></span>
		<p class = "help-block " style="color:white; text-align:left"> 10:30 am </p>
		</div>
		</div>
		
		<br/>
		
		<div class = "whatsonCont" >
		<div style = "display:flex;flex-direction:column; width: 55px;     background: #0c6d97;">
		<span style="font-size:38px;line-height:30px;padding-top:5px"><b>10</b></span>
		<span style="font-size:21px">Aug</span>
		</div>
		<div style = "padding:0px 5px">
		<span class = "pull-left" style="text-align:left"><a href="#" style = "color:inherit"> Discovering Darwin </a></span>
		<p class = "help-block" style="color:white;text-align:left"> 10:30 am </p>
		</div>
		</div>

		<br/>
		<div class = "pull-right">
		<a class = "help-block" href="#" style = "color:inherit">see all »</a>
		</div>
		</div>

		<div class = "col-md-4" >
		<i class="fa fa-newspaper-o" aria-hidden="true" style = "font-size: 55px; "></i>
		<h2 style = "margin-top:5px; margin-bottom:30px"> Notices</h2>
		O Jobs & Opportunities
		Ο Important Notice related to Counselling 2016
		Ο CET Results- 2016
		</div>
	</div>

	<br/><br/><br/>
	

</div>
