<link rel="stylesheet" type="text/css" href="res/css/joinCSS.css">

<div class="col-md-12" style="text-align:center;margin-top:80px;">
		<h1>Lets Get Started!</h1>
		<h3>Want to join as a :-</h3>
</div>

<div class="row" style="margin: 0px">
    <div class="col-md-3 col-sm-6 col-md-offset-3">	
    	<a class = .form-card-compact-a>
    	<div class="form-card-compact">
    	    <div class="form-card-heading">
                <span class="join-heading-icon" style=" transform: rotateY(180deg);transition: all 400ms ease-out 0s;">
                    <img src="/res/img/teachers-icon-7.png" alt="" style="vertical-align:baseline;width:37px;opacity:0.85"> <!-- opacity:0.85 TO MAKE TEACHER IMAGE OF SAME OPACITY AS STUDENT -->
                </span>
         		<h3 style="margin-top:24px; transform: rotateY(180deg);transition: all 400ms ease-out 0s;">Staff</h3>
            </div>

            <div class="form-card-body">
             	<ul class="text-left gray-light" style=" transform: rotateY(180deg);transition: all 400ms ease-out 0s;">
                	<li>Key Feature 1</li>
              	  	<li>Key Feature 2</li>
                	<li>Key Feature 3</li>
              	</ul>
              	<a href="/signup/staff" class="btn btn-success btn-lg btn-block" style=" transform: rotateY(180deg);transition: all 400ms ease-out 0s;">Sign up</a>
            </div>
         </div>
         </a>
    </div>
        

    <div class="col-md-3 col-sm-6">
      	<div class="flip-container">
            <div class="flip-front">
              <div class="form-card-compact">
                <div class="form-card-heading">
                                <span class="join-heading-icon" style=" transform: rotateY(180deg);transition: all 400ms ease-out 0s;">
                                    <img src="/res/img/school-student-icon-16.png" alt="" style="vertical-align:baseline;width:45px;">
                                </span>

                  <h3 style="margin-top:24px; transform: rotateY(180deg);transition: all 400ms ease-out 0s;"">Student</h3>
                </div>
                <div class="form-card-body">
                  <ul class="text-left gray-light" style=" transform: rotateY(180deg);transition: all 400ms ease-out 0s;">
                    <li>Key Feature 1</li>
              	  	<li>Key Feature 2</li>
                	<li>Key Feature 3</li>
                  </ul>
                  <a href="signup/student" class="btn btn-success btn-lg btn-block" style=" transform: rotateY(180deg);transition: all 400ms ease-out 0s;">Sign up</a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

